# App (Vite dev server) - headers set by Vite plugin
example.localhost {
	tls internal
	encode gzip
	handle {
		reverse_proxy localhost:5174
	}
}

# Wallet host (self-contained mode - shares same Vite server) - headers set by Vite plugin
wallet.example.localhost {
	tls internal
	encode gzip
	reverse_proxy localhost:5174
}

# Relay server on separate origin
relay-server.localhost {
	tls internal
	encode gzip
	log {
		output stdout
		format console
	}
	reverse_proxy 127.0.0.1:3000
}

# Relay server (cosigner instance #1)
relay-server2.localhost {
	tls internal
	encode gzip
	log {
		output stdout
		format console
	}
	reverse_proxy 127.0.0.1:3001
}

# Relay server (cosigner instance #2)
relay-server3.localhost {
	tls internal
	encode gzip
	log {
		output stdout
		format console
	}
	reverse_proxy 127.0.0.1:3002
}

# ZK prover server listening on port 5588 (may or may not be up)
zk-email-prover.localhost {
	tls internal
	encode gzip
	log {
		output stdout
		format console
	}
	reverse_proxy 127.0.0.1:5588
}

